@model List<ApplicationUser>
@{
    ViewData["Title"] = "用户列表";
}

<h1>所有用户列表</h1>
<div asp-validation-summary="All" class="text-danger"></div>
@if (Model.Any())
{
    <a class="btn btn-primary mb-3" style="width:auto" asp-action="register"
       asp-controller="account">添加新用户</a>
    @foreach (var user in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                用户Id : @user.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@user.UserName</h5>
            </div>
            <div class="card-footer">
                <form method="post" asp-action="Delete" asp-controller="User" asp-route-id="@user.Id">
                    <a asp-controller="user"
                       asp-action="edit"
                       asp-route-id="@user.Id"
                       class="btn btn-primary">
                        编辑
                    </a>
                    <span id="confirmDeleteSpan_@user.Id" style="display:none">
                        <span>你确定要删除当前用户?</span>
                        <button type="submit" class="btn btn-danger">是</button>
                        <a href="#" class="btn btn-primary" onclick="confirmDelete('@user.Id', false)">否</a>
                    </span>
                    <span id="deleteSpan_@user.Id">
                        <a href="#" class="btn btn-danger" onclick="confirmDelete('@user.Id', true)">删除</a>
                    </span>
                </form>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-title">
            尚未创建任何用户
        </div>
        <div class="card-body">
            <h5 class="card-title">
                点击下面的按钮创建用户
            </h5>
            <a class="btn btn-primary" asp-action="register" asp-controller="account" style="width:auto">创建新用户</a>
        </div>
    </div>
}
@section scripts{ 
    <script src="~/js/CustomScript.js" asp-append-version="true"></script>
}